@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-flow__node.selected > *,
.react-flow__node:focus > *,
.react-flow__node:focus-visible > * {
  outline: none !important;
  box-shadow: none !important;
}

.react-flow__node.selected,
.react-flow__node:focus,
.react-flow__node:focus-visible {
  outline: none !important;
}
